
<div class="grid grid-rows-1 grid-cols-1 ">
  <div class="hero pt-32 col-start-1 row-start-1 z-0">
  </div>
  <div class="container pb-32 pt-16 mx-40 px-6 col-start-1 row-start-1 z-10">
    <h2 class="text-6xl font-bold mb-2 text-white uppercase">
      My Movies List
    </h2>
    <h3 class="text-2xl mb-20 text-gray-200">
      Time to try front!
    </h3>
    <button class="bg-transparent border-4 border-solid border-white transition duration-500 ease-in-out hover:border-red-600 text-white text-2xl font-bold rounded py-4 px-16 shadow-lg uppercase tracking-wider">
      <i class="fas fa-plus"></i><%= link_to ' New List', new_list_path %>
    </button>
  </div>
</div>

<div class="container my-8 mx-auto">
  <div class="flex flex-wrap -mx-2 gap-x-2 overflow-hidden sm:-mx-3 md:-mx-3 lg:-mx-2 xl:-mx-2">
    <% @lists.each do |list| %>
    <%= render "list", list: list %>
    <% end %>
  </div>
</div>

